.form-login{
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: rgba(149, 136, 136, 0.854);
    border-radius: 20px;
    height: 350px;
    align-self: center;
}
.btn-iniciar, .login-input{
    padding: 5px 40px;
    border-radius: 8px;
}
.login-border{
    border-bottom: 1px solid black;
    width: 100%;
    align-items: center;
}
.login-o{
    display: flex;
}
.login-span{
    position: relative;
    top: 10px;
    padding: 0 5px;
}
.login{
    object-fit: cover;
    background-image: url("../../public/foto2.jpeg");
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
}
.login-title{
    text-align: center;
}